body{
    background-color:#7cbcbe;
    background-image: url("../picture/snowy-montains.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat:repeat-x;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px;
}


h1{
    font-family:Courier;
    color:#fff
}

p{
    font-size: 20pt;
    font-family:Courier;
    color:#fff
}

html {
    scroll-behavior: smooth;
}

/* top bar content*/

/* end of slider*/
.two-state-toggle-container{
    align-items: center;
    display: flex;
    justify-content: center;
    border: 2px solid #004c4c;
    border-radius: 5px;
    height: 20pt;
    width: 60px;
    padding: 5px;
    background-color: #b2d8d8;
    margin: auto;
}

#switch-unit {
    position: relative;
    display: grid;
    width: 75px;
    height: 38px;
}

#switch-unit input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    border-width: 2px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    border-style: solid;
    border-color: #004c4c;
    background-color: #b2d8d8;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #004c4c;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(37px);
    -ms-transform: translateX(37px);
    transform: translateX(37px);
}

#units{
    margin-top: 5.5px;
    margin-left: 5px;
    margin-right: 5px;
    display: grid;
    grid-gap: 17px;
    grid-template-columns: min-content min-content;
}

.celsius,
.Fahrenheit{
    font-size: 20px;
    color: #fff;
}

/* end of slider*/


.svg-icon-logo{
    width: 100%;
    height: 100%;
}
.svg-icon-logo path,
.svg-icon-logo polygon,
.svg-icon-logo rect {
    fill: #ffff;
}
  
.svg-icon-logo circle {
    stroke: #ffff;
    stroke-width: 1;
}


/* butuns congig*/
.home:hover,
.week:hover,
.today:hover{
    cursor: pointer;
    background-color: #20545b;
}

.home,
.week,
.today{
    border-radius: 5px;
    width: 100%;
    height: 38px;
    font-size: 20pt;
    font-family: Courier New;
    color:#fff;
    transition: background-color 0.5s;
    padding: 5px;
    border:2px;
    border-style: solid;
    background-color:#b2d8d8;
}

/* end butuns conf  ig*/

/* search bar*/

#search{
    position: relative;
    width: 90% - 40px;
    height: 34px;
    border-color: #004c4c;
    border-top: none;
    border-left: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-button{
    display: flex;
    align-items: center;
    border: none;
    width: 38px;
    height: 38px;
    font-size: 20pt;
    font-family: Courier New;
    background-color: #fff;
    border-color: #004c4c;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-left: none;
    border-bottom: none; 
}

.search-button:hover{
    cursor: pointer;
}
  
.svg-icon-search path,
.svg-icon-search polygon,
.svg-icon-search rect {
    fill: #004c4c;
}
  
.svg-icon-search circle {
    stroke: #004c4c;
    stroke-width: 1;
}



.search-container{
    display: grid;
    grid-template-columns: 1fr 38px; 
}
.wrapper{
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
}

.search-svg-icon {
    width: 100%;
    height: 100%;
}

ul{
    font-size: 10pt;
    font-family:Courier;
}

.search-button i {
  width: 100%;
  line-height: 50px;
}

.results ul {margin: 0; padding: 0; }
.results ul li {
  list-style: none;
  border-radius: 3px;
  opacity: 0;
  display: none;
  padding: 8px 12px;
  transition: all .5s linear;
}

.show .results ul li {
  opacity: 1;
  display: block;
}

.show .results {
  padding: 10px;
}

.results ul li:hover {
  background: #b2d8d8
}

/* end search bar*/

/* end of top bar content*/


.content{
    margin: auto;
    width: 75%;
}


/*map legend*/

/*font styling*/
.city-name{
    font-size: 10pt;
    font-family:Courier;
    color: #004c4c;
}

#temp-bas-valais,
#temp-centre-valais,
#temp-ht-valais{
    font-size: 15pt;
    font-family:Courier;
    color: #fff;
}

/*labels on the map*/
.labels-map{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    
}

/*position*/

#labels-bas-valais{
    position: relative;
    width: fit-content;
    height: fit-content;
    top :69.9%;
    left: 17.125%;
    display:grid;
    grid-template-columns: 1fr;
}
#labels-centre-valais{
    position: relative;
    width: fit-content;
    height: fit-content;
    top :38.4%;
    left: 35.85%;
    display:grid;
    grid-template-columns: 1fr;
}

#labels-ht-valais{
    position: relative;
    width: fit-content;
    height: fit-content;
    top :22.75%;
    left: 55.5%;
    display:grid;
    grid-template-columns: 1fr;
}

/*fixing temps*/
#temp-ht-valais{
    position: relative;
    width: fit-content;
    height: fit-content;
    left: -60px;
}

/*map styling*/

.map-container{
    padding: 10px;
    margin: auto;
}   
    
#svg-icon-valais path{
    fill: #616e6d2c;
    stroke: #ffff;
}
/*separator*/

.graph-legende{
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 98.5%;
    height: 38px;
    font-size: 20pt;
    font-family: Courier New;
    color:#fff;
    transition: background-color 0.5s;
    padding: 5px;
    border:2px;
    border-style: solid;
    background-color:#b2d8d8;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.415);
}

/*content-graph*/



.top-row{
    margin-top: 20px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 3fr;
}

.label-font{
    font-size: 10pt;
    font-family:Courier;
    color:#fff
}

.uv-meter{
    margin-left: 0px;
    width: 100%;
    padding: 5px;
    
    background-color: rgba(178, 216, 216, .3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border:2px solid #004c4c;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.415);
    
    display: grid;
    grid-template-columns: 1fr;
}

.svg-icon-uv-meter-box{
    width: 100%;
    height: 100%;
}

/*svg-uv-meter*/

.svg-icon-uv-meter {
    width: 100%;
    height: 100%;
}
.svg-icon-uv-meter path,
.svg-icon-uv-meter polygon,
.svg-icon-uv-meter rect {
    fill: #004c4c;
}
  
.svg-icon-uv-meter circle {
    stroke: #004c4c;
    stroke-width: 1;
}


/*svg-humidity*/

.svg-icon-humidity {
    width: 100%;
    height: 100%;
}
  
.svg-icon-humidity path,
.svg-icon-humidity polygon,
.svg-icon-humidity rect {
    fill: #004c4c;
}
  
.svg-icon-humidity circle {
    stroke: #004c4c;
    stroke-width: 1;
}

.humidity{
    width: 100%;
    padding: 5px;
    justify-content: center;
    background-color: rgba(178, 216, 216, .3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border:2px solid #004c4c;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.415);

    display: grid;
    grid-template-columns: 1fr;
}


/*svg-wind*/

.svg-icon-wind {
    width: 100%;
    height: 100%;
}
  
.svg-icon-wind path,
.svg-icon-wind polygon,
.svg-icon-wind rect {
    fill: #004c4c;
}
  
.svg-icon-wind circle {
    stroke: #004c4c;
    stroke-width: 1;
}

.wind{
    width: 100%;
    padding: 5px;
    justify-content: center;
    background-color: rgba(178, 216, 216, .3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border:2px solid #004c4c;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.415);

    display: grid;
    grid-template-columns: 1fr;
}

.weather-code-svg{
    padding-right: 25px;
}

.location-overwiew{
    width: 100% - 5px;
    padding: 5px;
    justify-content: center;
    background-color: rgba(178, 216, 216, .3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border:2px solid #004c4c;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.415);

    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.location-selected{
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:1fr;
}

#location-selected-temp,
#location-selected-name{
    font-size: 25pt;
    padding-top: 10%;
    display: flex;
    justify-content:center;
}

.graph{
    padding: 5px;
    justify-content: center;
    border:2px solid #004c4c;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.415);
}

.graph-background{
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(178, 216, 216, .3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}





h1{
    font-family:Courier;
    color:#fff
}

p{
    font-size: 20pt;
    font-family:Courier;
    color:#fff
}

html {
    scroll-behavior: smooth;
}

ul{
    font-size: 10pt;
    font-family:Courier;
}

/* svg default*/
svg{
    width: 100%;
    height: 100%;
}

svg path,
svg polygon,
svg rect {
    fill: #ff0000;
}
  
svg circle {
    stroke: #ff0000;
    stroke-width: 1;
}


/* top bar layout */

.top-bar-holder{
    top: 0;
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    margin-top: 10px;
}



.top-bar{
    margin: auto;
    padding: 5px;
    display: grid;

    grid-gap: 10px;
    
    grid-template-columns: 1fr 1fr /*38px 1fr 1fr 1fr 75px*/;
    
    border:2px solid #004c4c;
    border-radius: 5px;
        
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.415);
    width: 75%;
    
    height: 38px;
    background-color: #b2d8d8;
}


#bar-group-1{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 38px 1fr;
}

#bar-group-2{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 75px;
}


/* logo */

.home svg path,
.home svg polygon,
.home svg rect{
    fill: #fff;
}

.home svg circle {
    stroke: #fff;
    stroke-width: 1;
}

/* slider*/

.slider {
    position: absolute;
    border-width: 2px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    border-style: solid;
    border-color: #004c4c;
    background-color: #b2d8d8;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #004c4c;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(37px);
    -ms-transform: translateX(37px);
    transform: translateX(37px);
}

#switch-unit {
    position: relative;
    display: grid;
    width: 75px;
    height: 38px;
}

.slider input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
#units{
    margin-top: 5.5px;
    margin-left: 5px;
    margin-right: 5px;
    display: grid;
    grid-gap: 17px;
    grid-template-columns: min-content min-content;
}

.unit-label,
.Fahrenheit{
    font-size: 20px;
    color: #fff;
}



/* buttons */
button:hover{
    cursor: pointer;
    background-color: #20545b;
}

button{
    border-radius: 5px;
    width: 100%;
    height: 38px;
    font-size: 20pt;
    font-family: Courier New;
    color:#fff;
    transition: background-color 0.5s;
    padding: 5px;
    border:2px;
    border-style: solid;
    background-color:#b2d8d8;
}


/* search bar */

.search-bar{
    display: grid;
    grid-template-columns: 1fr 38px; 
}

.search-bar button{
    display: flex;
    align-items: center;
    border: none;
    width: 38px;
    height: 38px;
    font-size: 20pt;
    font-family: Courier New;
    background-color: #fff;
    border-color: #004c4c;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-left: none;
    border-bottom: none; 
}

.search-bar input{
    position: relative;
    width: calc(100% - 3px);
    height: 34px;
    border-color: #004c4c;
    border-top: none;
    border-left: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-bar svg path,
.search-bar svg polygon,
.search-bar svg rect{
    fill: #004c4c;
}

.search-bar svg circle {
    stroke: #004c4c;
    stroke-width: 1;
}


@media only screen and (max-width: 750px) {
    
    .top-bar{
        top: 0;
        z-index: 1;
        position: -webkit-sticky;
        position: sticky;
        grid-template-columns: 1fr;
        height: 86px;
        grid-gap: 10px;
        grid-template-rows: 1fr 1fr;
    }
    
    #wrapper{
        z-index: 2;
        height: 0px;
        padding: 0px;
    }

   
}

.wrapper{
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
}

.results ul {margin: 0; padding: 0; }
.results ul li {
  list-style: none;
  border-radius: 3px;
  opacity: 0;
  display: none;
  padding: 8px 12px;
  transition: all .5s linear;
}

.show .results ul li {
  opacity: 1;
  display: block;
}

.show .results {
  padding: 10px;
}

.results ul li:hover {
  background: #b2d8d8
}

footer{
    
    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 75%;
    padding: 1px;
    justify-content: center;
    background-color: #fff;
    /*
    border:2px solid #004c4c;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.415);
    */

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

footer ul {
    list-style: none;   
    text-align: center;
    padding: 0px;
    height: 20px;
    
}

footer li {
    height: 20px;
    display: inline;
    text-align: center;
    
}

footer li img{
    vertical-align: middle;
}

footer li a {
    color: black;
    text-decoration: none;
    vertical-align: middle;
}

footer li a:hover{
    cursor: pointer;
}